{% import _self as self %}

{% macro alerts(key, status) %}
{% set messages = app.session.flashbag.get(key) %}
{% for message in messages %}
    <div class="alert alert-{{ status }} fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
{% endfor %}
{% endmacro %}