{% extends 'layout.html.twig' %}

{% block title %}Banners{% endblock %}

{% block pageHeader %}{{ 'indexBanners'|trans }}{% endblock %}


{% block content %}

{% if banners %}
{% include 'banner/list.html.twig' with { showButtons: true } %}
{% else %}
<div class="alert alert-info">{{ 'noBanners'|trans }}</div>
{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'banner/sidebar.html.twig' %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/banners-index.controller.js') }}"></script>
{% endblock %}